<ul>
  <li><% @stations.each do |station| %></li>
  <li><%= station.name %></li>
  <li><%= station.address %></li>
  <li><%= station.fuel_type %></li>
  <li><%= station.distance %></li>
  <li><%= station.access_time %></li>
  <li><% end %></li>
</ul>
